{% extends "encyclopedia/layout.html"%}

{% block title %}
Edit Entry
{% endblock %}

{% block body %}
<h5>Edit the entry:</h5>
  <form class="form-group" action="{% url 'saventry' %}" method="post">
    {% csrf_token %}
    <label for="title">Title of the entry:</label> <br>
    <input class="form-control" type="text" name="title" value="{{title}}" readonly>
    <br>
    <label for="content">This is the content:</label> <br>
    <textarea class="form-control" name="content" rows="8" cols="80">  {{ content }}</textarea> <br>
    <button type="submit" class="btn btn-outline-dark">Save Changes</button>
  </form>
{% endblock %}
